@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&displyay=swap');
*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins'sans-serif;
}

:root {
    --bg-color: #11111111;
    --second-bg-color: #fefeaf;
    --text-color: #fff;
}

html {
    font-size: 100%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    min-height: 100vh;
    min-width: 100vh;
    background-image: url(img20.jpg);
    color: var(--text-color);
}

.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.signup-heading {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 100vh;
    height: 60vh;
    margin: .1rem;
}

.signup-form input {
    width: 100%;
    height: 7vh;
    padding: 1rem;
    margin: 10px;
    border-bottom: 2px solid #23ef23;
    border-radius: 5px;
}

.signup-form input::placeholder:hover {
    display: none;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    font-weight: 600;
}

p a {
    font-size: 2.5rem;
    font-weight: 600;
}

p a:hover {
    background-color: #fff;
    border-radius: 10px;
}

/* Break Point */
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 9991px) {

    .signup-section{
        min-width: auto;
    }

    .signup-heading {
        padding: 2rem 3%;
    }

    .signup-heading {
        padding: 10rem 3% 2rem;
    }
 
    .signup-form {
        padding: 7rem;
        margin: 0px;
        width: 70vh;
        height: 55vh;
    }
}

@media (max-width: 768px){
    .signup-section {
        min-width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signup-heading {
     padding: 1rem 2%;
     margin: 5px;   
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .signup-form input {
        padding: 1rem;
        margin: 10px;
        width: auto;
        height: 5rem;
    }
}

@media (max-width: 450px) {
    .signup-form {
        width: 100%;
    }
    .signup-form input{
        padding: 1rem;
        margin: 0px;
        width: auto;
        height: 50vh;
    }
}