@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&displyay=swap');
*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins'sans-serif;
}

:root {
    --bg-color: #fff;
    --second-bg-color: #ffffff;
    --text-color: black;
}

html {
    font-size: 100%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 200vh;
}

.signup-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vh;
    height: 100vh;
    border: 2px solid;
}

.signup-section a {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}
.signup-section h1 {
    font-size: 20px;
}
.sign-up-form input {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    width: 75vh;
    height: 3rem;
    margin: 10px;
    padding: 15px;
}

.sign-up-form {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 18px;
    top: 35%;
    margin-right: 100px;
    width: 3rem;
    height: 3rem;
}

.signup-section button {
    width: 35vh;
    border: 1px solid;
    border-radius: 10px;
    height: 5vh;
    background-color: rgb(152, 16, 250);
    color: #ffff;
    margin: 10px;
}

.signup-section p {
    margin: 10px;
    padding: 5px;
}

.signup-section .tutor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    width: 75vh;
}

.signup-section .tutor-login a {
    font-weight: 600;
    font-size: 20px;
    color: peru;
}

